.cursorignore
.env
**/Guía despliegue
**/Documento técnico.txt
**/Flujo Pantallas App Web.txt
**/Flujo Pantallas App Móvil.txt
**/Lista de reglas que irán en Backend.txt
**/generar_plan_pruebas.py
**/.env
!.env.example
**/target/
**/.mvn/wrapper/maven-wrapper.jar
**/.classpath
**/.project
**/.settings/
**/.idea/
**/*.iml
**/.vscode/
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.venv/
**/venv/
**/.DS_Store
Thumbs.db
**/imagenesss
**/Para ramo gestión

